@model WhitePie.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                <img src="~/img/em-horizontal.png" class="img-fluid" alt="">
            </div>
        </div>

    </div>
</div><!-- End Page Title -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <!-- Carousel wrapper -->
     <div id="carouselVideoExample" data-mdb-carousel-init class="carousel slide carousel-fade" data-mdb-ride="carousel">

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <video class="img-fluid" autoplay loop controls>
                    <source src="~/assets/video/historyofpizza.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
    <!-- Carousel wrapper -->
</section><!-- End Hero Section -->

<!-- ======= Events Section ======= -->
<div class="container py-5">
    <div class="row d-flex justify-content-around text-lg-center py-3">
        <div class="col-md-6 align-content-center text-start">
            <span>Find EdibleMami</span>
        </div>
    </div>
    <section id="events" class="events_area">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
                @if (Model.EventsViewModel.UpcomingEvents.Count == 0)
                {
                    <span>No upcoming events, <a href="https://instagram.com/ediblemam1" target="_blank">follow us on Instagram in the meantime!</a></span>
                }
                else
                {
                        @foreach (var item in Model.EventsViewModel.UpcomingEvents)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="single_event position-relative">
                                    <div class="event_details">
                                        <span>@item.EventTimeInfo.Year</span>
                                        <div class="d-flex mb-4">
                                            <div class="date"><span>@item.EventTimeInfo.DayOfTheMonth</span> @item.EventTimeInfo.AbbreviatedMonth</div>
                                            <div class="time-location">
                                                <p><span class="ti-time mr-2"></span> @item.EventTimeInfo.StartTime - @item.EventTimeInfo.EndTime</p>
                                                <p><span class="bi bi-pin-map mr-2"></span> @item.City, @item.State</p>
                                            </div>
                                        </div>
                                        <span class="fw-bold">
                                            @item.EventTitle
                                        </span>
                                        <div class="px-3">
                                        @if (!string.IsNullOrWhiteSpace(item.TicketUrl))
                                        {
                                            <a href="@item.TicketUrl" class="btn btn-danger rounded-0 mt-3">Visit Site</a>
                                        }
                                        else
                                        {
                                            <button class="btn btn-secondary rounded-0 mt-3">No Entry Fee</button>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                }
</div>
</section>
</div>

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
<div class="container-fluid" data-aos="fade-up">
    <div class="row gy-4 justify-content-center">
        @foreach (var moment in Model.MomentsViewModel)
        {
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                    <img src="@Url.Action("Image", "Home", new { moment.Id, moment.Extension })" class="img-fluid" alt="" loading="lazy">
                    @* <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="@Url.Action("Image", "Home", new { moment.Id, moment.Extension })" title="@moment.AltText" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    </div> *@
                </div>
            </div>

            <!-- End Gallery Item -->
        }
    </div>
</div>
</section><!-- End Gallery Section -->
